<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasper.user_center.mapper.TeamMapper">

    <select id="getMemberUsersByTeamId" resultType="com.jasper.user_center.model.domain.User">
        SELECT u.*
        FROM user_team ut
                 INNER JOIN user u ON ut.userId = u.id
        WHERE ut.teamId = #{teamId}
          AND ut.isDelete = 0
    </select>
</mapper>
